@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@import "tailwindcss";

* {
  font-family: "Nunito", sans-serif;
}

.prata {
  font-family: "Prata", serif;
  font-weight: 400;
  font-style: normal;
}

.nunito {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

.underlinedLink.active hr,
.underlinedLink:not(.active):hover hr {
  width: 80%;
  transition: ease-in;
  transition-duration: 110ms;
}

@media (max-width: 640px) {
  a.active {
    background-color: rgba(0, 0, 0, 0.352);
    color: white;
  }
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
